<!DOCTYPE html>
<html lang="nl">
	<head>
        <meta charset="utf-8">
		<title>Pizzeria</title>
		<style>
            html {
                padding: 1em;
                font-family: Arial, serif;
                color: #333;
            }

            h1 {
                margin-bottom: .1em;
            }

            table {
                border-collapse: collapse;
            }

            th {
                text-align: left;
            }

            td {
                width: 250px;
                text-align: left;
                border: 1px solid #333;
            }
		</style>
	</head>
	<body>
		<h1>1. Bestellingen</h1>
		<hr />
    <table>
        <thead>
            <tr>
                <th>Pizza(Bodem-Topping)</th>
                <th>Status</th>
                <th>Delivery Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {%  for order in orders %}
                <tr>
                    <td>{{ order.pizza.name }}({{ order.bodem }}-{{ order.topping }})</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.pizza.deliveryType }}</td>
                    <td>
                        <form method="post" action="{{ path('order_update_status', {'id': order.id}) }}">
                            {% if(order.getActions()) %}
                            <select title="status" name="status">
                                {% for status in order.getActions() %}
                                    {% set selected = '' %}
                                    {% if (status == order.status) %}
                                       {% set selected = 'selected' %}
                                    {% endif %}
                                    <option {{ selected }}>{{ status }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit">Wijzig status</button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
	</body>
</html>
